<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mpesa</title>
</head>
<body>
<h1>Mpesa Integration</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" required name="phone" placeholder="Enter phone No."> <br> <br>
    <input type="text"  required name="amount" placeholder="Enter Amount"> <br> <br>

    <input type="submit" value ="pay via Mpesa">
</form>

</body>
</html>